*.jl.cov
*.jl.*.cov
*.jl.mem
*.o
*.so
*.a
Manifest.toml
docs/build
sandbox
deps/deps.jl
deps/build.log
deps/usr
# Local machine-specific overrides (not for committing)
LocalPreferences.toml
local_apriltag_artifact/
.DS_Store
apriltag_c/
